.Card {
  max-width: 345px;
}

.Card-Media {
  height: 140;
}

.ItemListTitle {
  padding: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 2px;
}
